# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Node (if using any build tools locally)
node_modules/

# Local environment files
.env
.env.local

# db pass
credentials.txt

